section{
    /*!*height: 80vh;*!  if we do this then background chhota ho jayega*/
    justify-content: center;
    /*align-items: center*/
}

svg{
    display: block;
}

header{
    justify-content: space-between;
}