h1{
    font-family: "Architects Daughter", cursive;
    /*font-family: "Permanent Marker", cursive;*/
    /*font-family: 'Ubuntu';*/
    font-size: 10vw;
    font-style: italic;
    font-variant: small-caps ;

}

p{
    font-family: "Permanent Marker", cursive;
    /*font-family: 'Ubuntu',"Helvetica Neue", helvetica, sans-serif;*/
    line-height: 2 ;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    word-spacing: 20px;
    color: rgba(110,20,255,0.9);
}

/* 1rem = 16px */
/* ie relative to root = rem
rem is going to scale proportionally
like if a browser has root font size 40ox , there 1rem will be 40 px*/
/* font-size*/

div{
    background-color: #76a3f5;
    line-height: 1;
    display: inline-block;
}