div{
    width: 400px;
    height: 200px;
    border: 10px dashed red;
    margin: 20px auto;
}

.one{
    box-sizing: border-box;
    background-image: url("../01_hands_on_exercise/puppy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}