body,section,div,h1,h2,h3,button{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cantarell', sans-serif;
}


#idx-atf{
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*background-origin: border-box;*/
    background-attachment: fixed;
}

.idx-atf{
    /*layout*/
    height: 80vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    /*align-content: center;*/
    /*formatting*/
    color: whitesmoke;
    text-shadow: 1px 1px 1px #211364;
}


/*no need of below centre code*/
.centre{
    /*border: 2px solid red;*/
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

h1{
    font-size: 2rem;
    font-weight: normal;
    /*margin: 15px;*/
    text-align: center;
}

h2,h3{
    margin: 2px;
    font-size: 1rem;
    /*font-weight: normal;*/
    text-align: center;
}

button{
    margin-top: 10px;
    /*font-family: 'Cantarell', sans-serif;*/
    background-color: transparent;
    color: inherit;    /* inherit the color property of the parent */
    border: 2px solid whitesmoke;
    padding: 3px 10px;   /* tb rl , trbl */
}

